In [1]:
#Dependencies 
%matplotlib inline 
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
data_file = "Resources/2019 County Health Rankings ALL Data -.csv"

In [3]:
data_file_df = pd.read_csv(data_file)
data_file_df.head()

,Unnamed: 0,State,County,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161
0,NaN,NaN,NaN,Premature death,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Long commute - driving alone,NaN,NaN,NaN,NaN
1,FIPS,State,County,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Quartile,YPLL Rate (Black),YPLL Rate (Hispanic),YPLL Rate (White),...,95% CI - High,Quartile,% Drive Alone (Black),% Drive Alone (Hispanic),% Drive Alone (White),# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low,95% CI - High,Quartile
2,1001,Alabama,Autauga,8824,7935,9713,1,10471,NaN,8707,...,89,3,83,NaN,84,20911,38,34,42,3
3,1003,Alabama,Baldwin,7225,6794,7655,1,10042,3087,7278,...,87,2,85,68,84,74415,41,38,43,3
4,1005,Alabama,Barbour,9586,8200,10972,1,11333,NaN,7310,...,86,1,80,NaN,86,7242,34,29,39,2

In [4]:
new_data_df = data_file_df[["State","County","Violent Crime"]]
new_data_df.head()

     State   County                  Violent Crime
0      NaN      NaN                  Violent crime
1    State   County  Annual Average Violent Crimes
2  Alabama  Autauga                            149
3  Alabama  Baldwin                            408
4  Alabama  Barbour                            106

In [5]:
data_df = new_data_df.drop([0,1])
data_df.head()

     State   County Violent Crime
2  Alabama  Autauga           149
3  Alabama  Baldwin           408
4  Alabama  Barbour           106
5  Alabama     Bibb            20
6  Alabama   Blount           279

In [6]:
data_df.to_csv("Resources/CrimeData.csv", index=True, header=True)

In [7]:
forest_file = "Resources/Forest_Data_Counties.csv"

In [8]:
forest_file_df = pd.read_csv(forest_file)
forest_file_df.head()

,County,Mapping Zones,Impervious Cover %,Impervious Cover (m2/person),Tree Canopy Cover %,Tree Canopy Cover (m2/person),Total Green Space (ha),Canopy Green Space %,Available Green Space (ha),State Name
0,Autauga,46,0.008595,303.464542,0.567194,20026.33290,152866.9952,0.572112,65410.2016,AL
1,Baldwin,46,0.012084,356.483994,0.575551,16979.38254,409233.9968,0.582591,170818.9952,AL
2,Barbour,46,0.005891,462.955438,0.605966,47623.45836,226867.9936,0.609557,88579.0016,AL
3,Bibb,48,0.003383,261.489004,0.715375,55289.06098,160413.0048,0.717803,45268.0000,AL
4,Blount,48,0.008458,276.601207,0.429399,14043.19599,165458.9952,0.433062,93804.9024,AL

In [16]:
# Merge two dataframes using an inner join
merge_table = pd.merge(data_df, forest_file_df, on="County", how="outer")
merge_table

,State,County,Violent Crime,Mapping Zones,Impervious Cover %,Impervious Cover (m2/person),Tree Canopy Cover %,Tree Canopy Cover (m2/person),Total Green Space (ha),Canopy Green Space %,Available Green Space (ha),State Name
0,Alabama,Autauga,149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,Baldwin,408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Georgia,Baldwin,316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alabama,Barbour,106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,West Virginia,Barbour,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Alabama,Bibb,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Georgia,Bibb,767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Alabama,Blount,279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Tennessee,Blount,449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Alabama,Bullock,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Alabama,Butler,117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Iowa,Butler,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Kansas,Butler,119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Kentucky,Butler,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Missouri,Butler,217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Nebraska,Butler,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Ohio,Butler,973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Pennsylvania,Butler,187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Alabama,Calhoun,871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Arkansas,Calhoun,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Florida,Calhoun,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Georgia,Calhoun,93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Illinois,Calhoun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Iowa,Calhoun,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Michigan,Calhoun,866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Mississippi,Calhoun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,South Carolina,Calhoun,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Texas,Calhoun,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,West Virginia,Calhoun,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Alabama,Chambers,181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6219,NaN,Waupaca,NaN,50.0,0.010708,402.702442,0.340864,12819.083330,1.924650e+05,0.344553,1.261500e+05,WI
6220,NaN,Waushara,NaN,50.0,0.008118,567.612508,0.282016,19718.191590,1.605760e+05,0.284323,1.149200e+05,WI
6221,NaN,Braxton,NaN,62.0,0.005780,519.953068,0.747582,67251.667530,1.314930e+05,0.751929,3.262020e+04,WV
6222,NaN,Brooke,NaN,62.0,0.037223,335.373129,0.605232,5453.020317,2.207380e+04,0.628632,8.197780e+03,WV
6223,NaN,Cabell,NaN,53.0,0.045255,340.227724,0.643549,4838.217226,6.946960e+04,0.674053,2.264870e+04,WV
6224,NaN,Doddridge,NaN,62.0,0.002587,289.646089,0.803946,90006.347700,8.266640e+04,0.806031,1.603480e+04,WV
6225,NaN,Greenbrier,NaN,61.0,0.008309,636.853104,0.655896,50272.253560,2.618770e+05,0.661391,8.867970e+04,WV
6226,NaN,Hardy,NaN,61.0,0.003987,474.263162,0.624214,74252.033150,1.501000e+05,0.626715,5.603060e+04,WV
6227,NaN,Kanawha,NaN,62.0,0.025437,297.442433,0.775391,9066.890905,2.280010e+05,0.795628,4.661970e+04,WV
6228,NaN,Mingo,NaN,53.0,0.016080,621.721587,0.748449,28939.122360,1.074850e+05,0.760680,2.577590e+04,WV
6229,NaN,Monongalia,NaN,62.0,0.024254,275.787262,0.660062,7505.581902,9.083220e+04,0.676469,2.939000e+04,WV
6230,NaN,Pleasants,NaN,62.0,0.010081,449.383817,0.760416,33897.658770,3.315810e+04,0.768159,7.687370e+03,WV
6231,NaN,Preston,NaN,61.0,0.005944,339.420468,0.635640,36297.471060,1.665130e+05,0.639440,6.003830e+04,WV
6232,NaN,Raleigh,NaN,53.0,0.025929,513.422116,0.719341,14243.751780,1.527970e+05,0.738490,4.000640e+04,WV
6233,NaN,Ritchie,NaN,62.0,0.003442,390.486319,0.771445,87517.744560,1.169340e+05,0.774108,2.641430e+04,WV
6234,NaN,Summers,NaN,61.0,0.009751,699.095315,0.683869,49030.311870,9.228800e+04,0.690604,2.856040e+04,WV
6235,NaN,Tucker,NaN,61.0,0.002822,416.727223,0.691167,102048.764900,1.077870e+05,0.693125,3.307750e+04,WV
6236,NaN,Wetzel,NaN,62.0,0.005273,276.732606,0.822004,43139.208500,9.236420e+04,0.826361,1.603810e+04,WV
6237,NaN,Wirt,NaN,62.0,0.003235,332.947386,0.726619,74774.394010,6.024190e+04,0.728978,1.632690e+04,WV
6238,NaN,Converse,NaN,29.0,0.001734,1587.670096,0.032486,29747.595090,1.101700e+06,0.032542,1.065850e+06,WY
6239,NaN,Goshen,NaN,29.0,0.002597,1195.222524,0.004034,1856.643803,5.755770e+05,0.004044,5.732490e+05,WY
6240,NaN,Hot Springs,NaN,22.0,0.002071,2204.117165,0.067222,71529.294550,5.184060e+05,0.067361,4.834870e+05,WY
6241,NaN,Laramie,NaN,33.0,0.006002,511.745316,0.003540,301.824598,6.915840e+05,0.003562,6.891210e+05,WY
6242,NaN,Natrona,NaN,22.0,0.004315,900.229961,0.016799,3504.351344,1.381960e+06,0.016871,1.358680e+06,WY
6243,NaN,Niobrara,NaN,29.0,0.002120,5994.183631,0.006998,19784.545080,6.790340e+05,0.007013,6.742720e+05,WY
6244,NaN,Sublette,NaN,22.0,0.001802,3857.972973,0.163816,350733.102700,1.265200e+06,0.164112,1.057570e+06,WY
6245,NaN,Sweetwater,NaN,22.0,0.003720,2675.431367,0.004508,3241.937628,2.695170e+06,0.004524,2.682990e+06,WY
6246,NaN,Uinta,NaN,22.0,0.006343,1734.115085,0.057444,15703.778750,5.362780e+05,0.057810,5.052810e+05,WY
6247,NaN,Washakie,NaN,22.0,0.002992,2095.789601,0.037156,26023.041620,5.787980e+05,0.037268,5.572360e+05,WY
6248,NaN,Weston,NaN,29.0,0.002247,2101.023480,0.042075,39349.037930,6.199590e+05,0.042170,5.938160e+05,WY

In [18]:
final_data_df = data_df.dropna()
final_data_df.head()

     State   County Violent Crime
2  Alabama  Autauga           149
3  Alabama  Baldwin           408
4  Alabama  Barbour           106
5  Alabama     Bibb            20
6  Alabama   Blount           279

In [8]:
final_data_df['Violent Crime'] = pd.to_numeric(final_data_df['Violent Crime'])

C:\Users\nidas\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
sum_data = final_data_df.groupby('State')["Violent Crime"]

sum_data.sum()

State
Alabama                  22717
Alaska                    3430
Arizona                  26045
Arkansas                 14842
California              163089
Colorado                 17638
Connecticut               7901
Delaware                  4714
District of Columbia      8218
Florida                  89946
Georgia                  38645
Hawaii                    3477
Idaho                     3562
Illinois                 51012
Indiana                  23155
Iowa                      8633
Kansas                   10520
Kentucky                  9957
Louisiana                25191
Maine                     1620
Maryland                 27698
Massachusetts            25704
Michigan                 43840
Minnesota                12739
Mississippi               4723
Missouri                 29025
Montana                   3133
Nebraska                  5092
Nevada                   18874
New Hampshire             2531
New Jersey               22394
New Mexico               12761
New York                 75235
North Carolina           31361
North Dakota              1679
Ohio                     32605
Oklahoma                 16752
Oregon                   10230
Pennsylvania             40288
Rhode Island              2426
South Carolina           24465
South Dakota              2353
Tennessee                41274
Texas                   115069
Utah                      6765
Vermont                    741
Virginia                 17516
Washington               20716
West Virginia             5653
Wisconsin                16796
Wyoming                   1086
Name: Violent Crime, dtype: int64